.board-page {
    background-color: #33373a;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.board-container {
    width: 100%;
    min-height: calc(100vh - 45px - 4rem - 0.6rem - 45px);
    background-size: cover;
    background-position: center;
}

.board-content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.board-navbar {
    box-sizing: content-box;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    color: white;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-navbar-left,
.board-navbar-right {
    display: flex;
    align-items: center;
}

.board-navbar-right {
    margin-right: 1.5rem;
}

.board-navbar > div > p {
    font-size: 1.3rem;
    font-weight: 900;
    padding: 10px;
    margin: 0 0.8rem 0 1rem;
}

.no-style {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
}

.no-style.dropdown-toggle::after {
    display: none;
}

.board-dropdown-menu {
    position: fixed !important;
    top: -2.688rem !important;
    right: -24px !important;
}

.dropdown-item-content {
    display: flex;
    align-items: center;
}

.board-content-items {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 45px - 4rem - 0.6rem - 45px);
    margin: 4rem 4rem 0 4rem;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

.lists-container {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.list {
    max-height: 35rem;
    min-width: 15rem;
    background: rgba(0, 0, 0, 0.9);
    color: #9fadbc;
    border-radius: 0.7rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

.list-items {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
    max-height: calc(35rem - 2.4rem - 2.4rem);
}

.list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0.3rem 0 0.3rem;
    padding: 0.3rem;
    height: 2.4rem;
    font-weight: 700;
}

.list-top p {
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 0;
    margin: 0;
}

.SlOptions {
    align-self: center;
    font-size: 1.2rem;
}

.list-item {
    display: flex;
    flex-direction: column;
    background-color: #3d3941;
    cursor: pointer;
    margin-right: 1rem;
    height: 2.4rem;
}

.list-item:hover {
    border: 2px solid #006666;
}

.list-item:last-of-type {
    margin-bottom: 0.1rem;
}

.list-bottom,
.list-item {
    margin: 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    border-radius: 0.3rem;
    display: flex;
    font-size: 1rem;
}

.list-bottom {
    align-items: center;
    cursor: pointer;
    height: 2.4rem;
}

.list-bottom:hover {
    background-color: #006666;
}

.fa-plus {
    margin-right: 0.7rem;
    margin-left: 0.3rem;
    align-self: center;
    font-size: 0.85rem;
}

.new-button {
    display: flex;
    align-items: center;
    background: rgba(144, 140, 140, 0.6);
    backdrop-filter: blur(6px);
    color: white;
    width: 15rem;
    border-radius: 0.7rem;
    padding: 0.4rem;
    cursor: pointer;
}

.new-button:hover {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.new-button > p {
    margin: 0;
}

.new-list {
    min-width: 15rem;
    background: rgba(0, 0, 0, 0.9);
    color: #9fadbc;
    border-radius: 0.7rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

.new-list-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.3rem 0.3rem 0 0.3rem;
    padding: 0.3rem;
    font-weight: 700;
}

.new-list-top > input {
    min-width: 100%;
    background-color: #3d3941;
    border-radius: 0.3rem;
    border: none;
    color: #9fadbc;
    padding-left: 0.3rem;
}

.new-list-top > input:hover,
.new-list-top > input:focus {
    border: 1px solid teal;
    outline: none;
}

.new-list-bottom {
    margin: 0.3rem 0.3rem 0 0.3rem;
    padding: 0.3rem 0.3rem 0.3rem 0;
    border-radius: 0.3rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.new-list-button {
    margin: 0;
    padding: 0.2rem 0.5rem 0.2rem 0.3rem;
}

.new-list-cancel {
    margin-left: 0.5rem;
    padding: 0.3rem;
    font-size: 1.6rem;
    border-radius: 0.3rem;
}

.new-list-cancel:hover {
    background-color: #3d3941;
}

.new-card-list-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-card-list-bottom input {
    box-sizing: border-box;
    margin: 0.2rem;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    border-radius: 0.3rem;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    background-color: #3d3941;
    height: 2.4rem;
    width: calc(100% - 0.6rem);
    border: none;
    color: #9fadbc;
}

.new-card-list-bottom input:hover,
.new-card-list-bottom input:focus {
    border: 1px solid teal;
    outline: none;
}

.new-card-list-bottom input::placeholder,
.new-list-top input::placeholder {
    color: #9fadbc;
}

.button-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 0.6rem);
    margin: 0.2rem;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    box-sizing: border-box;
}
